.footer {
	padding: 36px 0 10px 0;
	background-color: var(--black-color);
	color: #fff;
}

.footer__container {
	max-width: 1140px;
	margin: 0 auto;
}

.footer__content {
}

.footer__logo {
	height: 50px;
	display: flex;
	align-items: center;
}

.footer__logo img {
	height: 100%;
}

.footer__title {
	color: #f99d1c;
}

.footer__list {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 0 60px;
}

.footer__item-info {
	font-size: 1.4rem;
	font-weight: 300;
	padding: 4px 16px;
	margin-bottom: 4px;
}

.footer__item-info.active {
	font-weight: 500;
	color: var(--primary-color);
}

.footer__item-social-title {
	font-size: 1.4rem;
	font-weight: 500;
	padding: 4px 0;
	margin-bottom: 4px;
	color: var(--primary-color);
}

.footer__paraghrap {
	margin-top: 30px;
	text-align: center;
}

.footer__paraghrap strong {
	color: var(--primary-color);
}

.footer__list-social {
	display: flex;
	gap: 30px;
}

.footer__social-icon {
	font-size: 2rem;
}
