.slider {
	background-color: var(--secondary-color);
}
.slider__container {
	padding: 0 24px;
}

.slider__content {
	display: flex;
	justify-content: space-between;
}

.slider__introduce {
	padding: 115px 76px;
}

.slider__title {
	color: var(--black-color);
	font-size: 3rem;
	line-height: 1.4;
	margin-bottom: 12px;
}

.slider__subtitle {
	line-height: 1.6;
	font-size: 1.4rem;
	font-weight: 600;
	margin-bottom: 12px;
}

.slider__paraghrap {
	font-size: 1.4rem;
	font-weight: 400;
	margin-bottom: 12px;
}

.slider__list-image {
	position: relative;
	max-width: 600px;
	width: 600px;
}
.slider__item-image:nth-child(1) {
	position: absolute;
	top: -24px;
	left: 60px;
	width: 300px;
}

.slider__item-image:nth-child(2) {
	position: absolute;
	top: 180px;
	left: 256px;
	width: 300px;
}

.slider__item-image:nth-child(3) {
	position: absolute;
	top: 286px;
	left: 0px;
	width: 300px;
}
